<h1>Articles</h1>
<ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
<p>Please like and subscribe if you wish to see content similar to this one</p>
